<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Control Panel</title>
</head>
<body>
<a href="/admin/create-post">Create new post</a>
<h1> Dear <span th:text="${user}"></span> Welcome to Admin Page</h1>
<div sec:authorize="isAuthenticated()">
    <a th:href="@{/}">Home</a> | <a th:href="@{/logout}">Logout</a>
</div>
<h1>Post</h1>
<form>
    Search by post title:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>Post title</th>
        <th>Post text</th>
        <th>Catergory</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="post : ${posts}">
        <tr>
            <td th:text="${post.titlePost}"></td>
            <td th:text="${post.bodyText}"></td>
            <td th:text="${post.catergory.name}"></td>
            <td><a th:href="@{admin/edit-post/__${post.id}__ }">Edit</a></td>
            <td><a th:href="@{admin/delete-post/__${post.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/admin/posts'(page=${posts.number - 1})}" th:if="${posts.hasPrevious()}">Previous</a>
    <span th:text="${posts.number + 1}"></span>/<span th:text="${posts.totalPages}"></span>
    <a th:href="@{'/admin/posts'(page=${posts.number + 1})}" th:if="${posts.hasNext()}">Next</a>
</div>
</body>
</html>