<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit post</title>
</head>
<body>
<h1>Edit post</h1>
<p>
    <a href="/posts">Post list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-post}" th:object="${post}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Post title:</td>
            <td><input type="text" th:field="*{titlePost}"/></td>
        </tr>
        <tr>
            <td>Post text:</td>
            <td><input type="text" th:field="*{bodyText}"/></td>
        </tr>
        <tr>
            <td>Catergory:</td>
            <td>
                <select name="catergory">
                    <option th:each="p : ${catergory}"
                            th:value="${p.id}"
                            th:text="${p.name}"
                            th:selected="(${p.id} == *{catergory.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update post"></td>
        </tr>
    </table>
</form>
</body>
</html>